*{
    box-sizing: border-box;
}

.input{
    padding: .5rem .5rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid hsl(0 , 0%, 70%);
    margin: 5px;
}

.input:focus{
    border-color: hsl(201, 87%, 54%);
    box-shadow:0 0 5px 0 hsl(201, 87%, 34%);
}

.input.input-sucess{
    border-color: hsl(130, 91%, 78%);
}

.input.input-sucess:focus{
    box-shadow:0 0 5px 0  hsl(130, 91%, 58%);
}

.input.input-error{
    border-color: hsl(8, 100%, 59%);
}

input.input-error:focus{
    box-shadow:0 0 5px 0  hsl(8, 100%, 39%);
}

.input.input-large{
    font-size: 1.5rem;
}

.input.input-small{
    font-size: .7rem;
}